html, body {   
  margin: 0px;  
  text-align: center;
  }
img {         
  width: 320px;
  height: 350px; 
  box-shadow: 0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
  text-align: center;
}